Repository Proskynete/node-api-skeleton: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

➖ chore(jest): remove jest configuration
  jest.config.ts
Due: prettier --write, eslint --fix

➖ ci(coveralls): remove coveralls integration
  .coveralls.example
  .github/workflows/coveralls.yml
Due: none

🔧 chore(docker): update base image to node 24-alpine
  Dockerfile
Due: none

💄 style(test): format mock JSON files with prettier v3
  test/unit/__mocks__/hello.response.json
  test/unit/__mocks__/open-api.json
Due: prettier --write

⬆️ build(deps)!: upgrade to eslint 9.x and prettier 3.x
  package-lock.json
  package.json
Due: prettier --write

🐛 fix(test): correct import paths in test files
  test/unit/controllers/hello.spec.ts
  test/unit/services/hello.spec.ts
  test/unit/tools/healt.spec.ts
  test/unit/tools/swagger.spec.ts
Due: prettier --write, eslint --fix

🔧 chore(tsconfig): replace jest types with vitest/globals
  tsconfig.json
Due: prettier --write

🧪 test(vitest): add vitest configuration file
  vitest.config.ts
Due: prettier --write, eslint --fix

🔧 chore(eslint): migrate from jest plugin to vitest plugin
  eslint.config.mjs
Due: none

⬆️ build(deps)!: migrate from jest to vitest and upgrade typescript
  package-lock.json
  package.json
Due: prettier --write

🐛 fix(config): change port type from string to number
  src/config.ts
  src/models/config.ts
Due: prettier --write, eslint --fix

🔧 chore(build): add SWC configuration with path aliases
  .swcrc
Due: none

🔧 chore(typescript): update tsconfig with ES2022 and path aliases
  tsconfig.json
Due: prettier --write

🔧 chore(test): configure vitest with path aliases and coverage exclusions
  vitest.config.ts
Due: prettier --write, eslint --fix

➕ build(deps): install Fastify stack and SWC compiler
  package-lock.json
  package.json
Due: prettier --write

💄 style(controller): add explicit return type and return statements
  src/controllers/hello.ts
Due: prettier --write, eslint --fix

🏗️ chore(architecture): create hexagonal folder structure
  src/@application/v1/greetings/dtos/.gitkeep
  src/@application/v1/greetings/use-cases/.gitkeep
  src/@application/v2/greetings/use-cases/.gitkeep
  src/@core/domain/greetings/entities/.gitkeep
  src/@core/domain/greetings/value-objects/.gitkeep
  src/@core/ports/inbound/greetings/.gitkeep
  src/@core/ports/outbound/greetings/.gitkeep
  test/e2e/.gitkeep
  test/integration/v1/.gitkeep
  test/unit/@core/domain/greetings/.gitkeep
Due: none

🔧 chore(config): add environment validation with Zod
  src/@infrastructure/config/environment.ts
Due: prettier --write, eslint --fix

✨ feat(shared): add shared utilities, types and constants
  src/@shared/constants/http-status.ts
  src/@shared/types/result.ts
  src/@shared/utils/string.utils.ts
Due: prettier --write, eslint --fix

✨ feat(infrastructure): setup Fastify server with plugins
  src/@infrastructure/http/app.ts
  src/@infrastructure/http/shared/plugins/cors.plugin.ts
  src/@infrastructure/http/shared/plugins/helmet.plugin.ts
Due: prettier --write, eslint --fix

✨ feat(server): add main.ts entry point for Fastify
  src/main.ts
Due: prettier --write, eslint --fix

➕ build(deps): add pino-pretty and update scripts for Fastify
  package-lock.json
  package.json
Due: prettier --write

📝 docs: update documentation for Stage 0 and Stage 1 completion
  CLAUDE.md
  README.md
Due: prettier --write

👔 feat(domain): add domain exception classes
  src/@core/domain/greetings/exceptions/InvalidGreetingException.ts
  src/@core/domain/shared/exceptions/DomainException.ts
Due: prettier --write, eslint --fix

✨ feat(domain): add Message value object
  src/@core/domain/greetings/value-objects/Message.ts
Due: prettier --write, eslint --fix

✨ feat(domain): add Greeting entity
  src/@core/domain/greetings/entities/Greeting.ts
Due: prettier --write, eslint --fix

🏷️ feat(ports): define domain ports (interfaces)
  src/@core/ports/inbound/greetings/IGetGreetingUseCase.ts
  src/@core/ports/outbound/greetings/IGreetingRepository.ts
  src/@core/ports/outbound/shared/ILogger.ts
Due: prettier --write, eslint --fix

✅ test(domain): add unit tests for domain layer
  test/unit/@core/domain/greetings/entities/Greeting.spec.ts
  test/unit/@core/domain/greetings/value-objects/Message.spec.ts
Due: prettier --write, eslint --fix

💄 style: fix linting issues in environment and result files
  src/@infrastructure/config/environment.ts
  src/@shared/types/result.ts
Due: prettier --write, eslint --fix

📝 docs: update documentation for Stage 2 completion
  CLAUDE.md
  README.md
Due: prettier --write

♻️ refactor(architecture): migrate to vertical slice by contexts
  .swcrc
  src/@contexts/greetings/application/ports/inbound/IGetGreetingUseCase.ts
  src/@contexts/greetings/application/ports/outbound/IGreetingRepository.ts
  src/@contexts/greetings/domain/entities/Greeting.ts
  src/@contexts/greetings/domain/exceptions/InvalidGreetingException.ts
  src/@contexts/greetings/domain/value-objects/Message.ts
  src/@infrastructure/persistence/greetings/.gitkeep
  src/@shared/domain/exceptions/DomainException.ts
  src/@shared/infrastructure/config/environment.ts
  src/@shared/infrastructure/http/app.ts
  src/@shared/infrastructure/http/shared/plugins/cors.plugin.ts
  src/@shared/infrastructure/http/shared/plugins/helmet.plugin.ts
  src/@shared/infrastructure/observability/ILogger.ts
  src/main.ts
  test/unit/@contexts/greetings/domain/entities/Greeting.spec.ts
  test/unit/@contexts/greetings/domain/value-objects/Message.spec.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix

📝 docs: update documentation for vertical slice architecture
  CLAUDE.md
  README.md
Due: prettier --write

🔥 chore: remove legacy Express code
  src/app.ts
  src/config.ts
  src/controllers/hello.ts
  src/models/business/hello.ts
  src/models/config.ts
  src/models/status_code.ts
  src/routes/hello.ts
  src/routes/index.ts
  src/server.ts
  src/services/hello.ts
  src/tools/health.ts
  src/tools/swagger.ts
  src/utils/remove_extensions.ts
  test/unit/controllers/hello.spec.ts
  test/unit/services/hello.spec.ts
  test/unit/tools/healt.spec.ts
  test/unit/tools/swagger.spec.ts
Due: prettier --write, eslint --fix

🐛 fix(scripts): correct dev script to use proper SWC loader
  package.json
Due: prettier --write

🔥 chore: remove empty horizontal structure folders
  ESTRUCTURA_PROPUESTA.md
  src/@application/v1/greetings/dtos/.gitkeep
  src/@application/v1/greetings/use-cases/.gitkeep
  src/@application/v2/greetings/use-cases/.gitkeep
  src/@core/domain/greetings/entities/.gitkeep
  src/@core/domain/greetings/value-objects/.gitkeep
  src/@core/ports/inbound/greetings/.gitkeep
  src/@core/ports/outbound/greetings/.gitkeep
  src/@infrastructure/persistence/greetings/.gitkeep
Due: prettier --write

♻️ refactor(application): move ports to v1 versioned folder
  src/@contexts/greetings/application/ports/inbound/IGetGreetingUseCase.ts
  src/@contexts/greetings/application/v1/ports/inbound/IGetGreetingUseCase.ts
  src/@contexts/greetings/application/v1/ports/outbound/IGreetingRepository.ts
Due: prettier --write, eslint --fix

✨ feat(application): add DTOs with Zod validation for v1
  src/@contexts/greetings/application/v1/dtos/GreetingRequestDto.ts
  src/@contexts/greetings/application/v1/dtos/GreetingResponseDto.ts
Due: prettier --write, eslint --fix

✨ feat(application): add mappers as pure functions for v1
  src/@contexts/greetings/application/v1/mappers/GreetingMapper.ts
Due: prettier --write, eslint --fix

✨ feat(application): add GetGreetingUseCase with DI for v1
  src/@contexts/greetings/application/v1/use-cases/GetGreetingUseCase.ts
Due: prettier --write, eslint --fix

✅ test(application): add unit tests for v1 application layer
  test/unit/@contexts/greetings/application/v1/mappers/GreetingMapper.spec.ts
  test/unit/@contexts/greetings/application/v1/use-cases/GetGreetingUseCase.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
