Repository Proskynete/node-api-skeleton: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

🧑‍💻 chore(scripts): add automated performance test runner
  package.json
  scripts/README.md
  scripts/run-performance-tests.js
Due: prettier --write, eslint --fix

📝 docs(architecture): enhance testing strategy documentation
  docs/ARCHITECTURE.md
Due: prettier --write

✨ feat(scripts): add file filter parameter to performance test runner
  scripts/README.md
  scripts/run-performance-tests.js
Due: prettier --write, eslint --fix

feat: implement domain events infrastructure
  src/@contexts/greetings/application/v1/event-handlers/GreetingCreatedEventHandler.ts
  src/@contexts/greetings/domain/events/GreetingCreatedEvent.ts
  src/@shared/domain/events/DomainEvent.ts
  src/@shared/domain/events/IDomainEvent.ts
  src/@shared/domain/events/IDomainEventHandler.ts
  src/@shared/domain/events/IDomainEventPublisher.ts
  src/@shared/infrastructure/config/dependency-injection/container.ts
  src/@shared/infrastructure/events/InMemoryDomainEventPublisher.ts
Due: prettier --write, eslint --fix

feat: add Result type for explicit error handling
  src/@app/server/middlewares/errorHandler.ts
  src/@contexts/greetings/application/v1/ports/inbound/IGetGreetingUseCase.ts
  src/@contexts/greetings/application/v1/use-cases/GetGreetingUseCase.ts
  src/@contexts/greetings/application/v2/ports/inbound/IGetGreetingUseCase.ts
  src/@contexts/greetings/application/v2/use-cases/GetGreetingUseCase.ts
  src/@contexts/greetings/domain/exceptions/GreetingFetchException.ts
  src/@contexts/greetings/infrastructure/http/v1/controllers/GreetingController.ts
  src/@contexts/greetings/infrastructure/http/v2/controllers/GreetingController.ts
  test/unit/@contexts/greetings/application/v1/use-cases/GetGreetingUseCase.spec.ts
Due: prettier --write, eslint --fix

feat: add environment-based CORS and CSP configuration
  .env.example
  src/@app/server/plugins/cors.plugin.ts
  src/@app/server/plugins/helmet.plugin.ts
  src/@shared/infrastructure/config/environment.ts
Due: prettier --write, eslint --fix

feat: add Zod schemas to Fastify routes for OpenAPI
  package-lock.json
  package.json
  src/@contexts/greetings/infrastructure/http/v1/routes/greeting.routes.ts
  src/@contexts/greetings/infrastructure/http/v2/routes/greeting.routes.ts
  src/@shared/infrastructure/http/schemas/ErrorResponseSchema.ts
Due: prettier --write, eslint --fix

feat: add Prisma v7 configuration with dual database support
  .gitignore
  prisma/PRISMA7_MIGRATION.md
  prisma/README.md
  prisma/USAGE_EXAMPLE.md
  prisma/mongodb/schema.prisma
  prisma/postgresql/schema.prisma
Due: prettier --write

docs: add ADRs and update documentation
  CLAUDE.md
  README.md
  docs/adr/0008-use-path-based-api-versioning.md
  docs/adr/0009-use-hybrid-pragmatic-approach.md
  docs/adr/0010-use-observability-stack.md
  docs/adr/0011-use-k6-for-performance-testing.md
  docs/adr/README.md
Due: prettier --write

chore: cleanup and organize project structure
  specs/.gitkeep
  specs/00_analisis_situacion_actual.md
  specs/01_arquitectura_hexagonal.md
  specs/02_carpetas_versionadas.md
  specs/03_oportunidades_mejora.md
  specs/04_plan_implementacion.md
  specs/05_enfoque_hibrido_pragmatico.md
  specs/06_vertical_slice_architecture.md
  specs/README.md
  src/@contexts/greetings/domain/services/.gitkeep
Due: prettier --write

docs: add CHANGELOG.md with Keep a Changelog format
  CHANGELOG.md
Due: prettier --write

docs: add comprehensive merge request description
  MERGE_REQUEST.md
Due: prettier --write

ci: update GitHub Actions workflows to Node.js 24.x
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

🚀 ci: optimize core workflows with custom reusable action
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

🛡️ ci: add automated dependency security and updates
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Due: none

✅ ci: add code quality validation workflows
  .github/workflows/lint-yaml.yml
  .github/workflows/typos.yml
  .yamllint.yml
Due: none

🤖 ci: add PR automation workflows
  .github/workflows/lint-pr-title.yml
  .github/workflows/pr-size-labeler.yml
Due: none

🐳 ci: add Docker image size monitoring workflow
  .github/workflows/docker-size.yml
Due: none

🧹 ci: add maintenance automation workflows
  .github/workflows/stale-issues-and-prs.yml
  .github/workflows/todo-to-issue.yml
Due: none

📋 ci: add GitHub repository templates and configuration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
Due: prettier --write

📝 docs: add comprehensive GitHub Actions CI/CD documentation
  CLAUDE.md
  README.md
  docs/GITHUB_ACTIONS.md
Due: prettier --write

🧹 chore: remove temporary merge request documentation
  MERGE_REQUEST.md
Due: prettier --write

🔖 chore: bump version to 2.1.0
  CHANGELOG.md
  CLAUDE.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

🏷️ ci: add automatic label synchronization workflow
  .github/workflows/sync-labels.yml
Due: none

📝 docs: update documentation with sync-labels workflow
  CLAUDE.md
  docs/GITHUB_ACTIONS.md
Due: prettier --write

📝 docs(docker): update Docker setup documentation and upgrade to Node.js 24
  CLAUDE.md
  Dockerfile
  README.md
  docs/DOCKER.md
Due: prettier --write

🙈 chore: add PULL_REQUEST.md to .gitignore
  .gitignore
Due: none

🔧 chore: add typos configuration and fix formatting issues
  .typos.toml
  test/contract/README.md
  test/performance/README.md
  test/performance/greetings-v1.k6.js
  test/performance/greetings-v2.k6.js
  test/performance/load-test.k6.js
Due: prettier --write, eslint --fix

✅ test: add comprehensive unit tests to achieve 80% coverage threshold
  test/unit/@contexts/greetings/application/v1/event-handlers/GreetingCreatedEventHandler.spec.ts
  test/unit/@contexts/greetings/application/v2/mappers/GreetingMapper.spec.ts
  test/unit/@contexts/greetings/application/v2/use-cases/GetGreetingUseCase.spec.ts
  test/unit/@contexts/greetings/domain/events/GreetingCreatedEvent.spec.ts
  test/unit/@contexts/greetings/infrastructure/persistence/InMemoryGreetingRepository.spec.ts
  test/unit/@shared/domain/events/DomainEvent.spec.ts
  test/unit/@shared/infrastructure/events/InMemoryDomainEventPublisher.spec.ts
Due: prettier --write, eslint --fix

🔧 chore(test): exclude infrastructure from coverage thresholds
  vitest.config.ts
Due: prettier --write, eslint --fix

💄 style(test): apply auto-formatting to test files
  test/unit/@contexts/greetings/application/v1/event-handlers/GreetingCreatedEventHandler.spec.ts
  test/unit/@contexts/greetings/application/v2/mappers/GreetingMapper.spec.ts
  test/unit/@contexts/greetings/domain/events/GreetingCreatedEvent.spec.ts
  test/unit/@shared/domain/events/DomainEvent.spec.ts
  test/unit/@shared/infrastructure/events/InMemoryDomainEventPublisher.spec.ts
Due: prettier --write, eslint --fix

🚨 fix(lint): resolve ESLint errors in test files
  eslint.config.mjs
  test/unit/@contexts/greetings/application/v1/event-handlers/GreetingCreatedEventHandler.spec.ts
  test/unit/@contexts/greetings/application/v2/mappers/GreetingMapper.spec.ts
  test/unit/@contexts/greetings/application/v2/use-cases/GetGreetingUseCase.spec.ts
  test/unit/@contexts/greetings/domain/events/GreetingCreatedEvent.spec.ts
  test/unit/@shared/infrastructure/events/InMemoryDomainEventPublisher.spec.ts
Due: prettier --write, eslint --fix

📝 docs(testing): update documentation with 98%+ coverage stats
  CLAUDE.md
  README.md
Due: prettier --write

📝 docs(contract): translate README from Spanish to English
  test/contract/README.md
Due: prettier --write

🔧 chore(typos): exclude README.md files from typos check
  .typos.toml
Due: none

🔖 chore: bump version to 2.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

💄 style: format contract testing README
  test/contract/README.md
Due: prettier --write

♻️ refactor(server): extract app configuration to dedicated plugin files
  src/@app/server/app.ts
  src/@app/server/metrics.ts
  src/@app/server/plugins/rate-limit.plugin.ts
  src/@app/server/plugins/swagger-ui.plugin.ts
  src/@app/server/plugins/swagger.plugin.ts
Due: prettier --write, eslint --fix

💚 fix(ci): prevent TODO workflow from processing documentation files
  .github/workflows/todo-to-issue.yml
Due: none

📝 docs(changelog): update with server refactoring and workflow fix
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
